body{
	background-color:#EEEEEE;
	margin:0px;
}


.top_bar{
	background-color:#FF9600;
	position:fixed;
	width:100%;
	height:80px;
	box-shadow:0px 2px 10px -5px #000000;
}


.card{
	background-color:#FFFFFF;
	border-radius:7px;
	box-shadow:0px 2px 10px -5px #000000;
	width:100%;
	width:calc(100% - 10px);
}
.card td{
	padding: 5px 10px;
}
.photo{
	background-color:#BEBEBE;
	border-radius:5px;
	width:100%;
	min-width:80px;
	box-shadow: 0px 2px 10px -5px #000000;
}
.card_title{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
	color:#555555;
}
.card_reached{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
	color:#555555;
}
.card_text{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#555555;
}
.card_foot_info{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#888888;
}
.card_link{
	text-decoration:none;
	color:#555555;
}
.card_link:hover{
	text-decoration:underline;
}
.foot_info{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#AAA;
}

.input_text {
    display: block;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: 	inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: 	border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: 	border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input_text:focus {
    border-color: #66AFE9;
    outline:none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: 	inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.input_button:hover {
    background-color: #ec971f;
    border-color: #d58512;
}
.input_button {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 4px;
    color: #fff;
    background-color: #F0AD4E;
    border-color: #EEA236;
    -webkit-appearance: none;
}
.menu{
	width:32px;
	height:32px;
	background-image:url(media/menu.png);
	background-size:100% 100%;
	display:inline-block;
}

.target{
	width:16px;
	height:16px;
	background-image:url(media/target.png);
	background-size:100% 100%;
	display:inline-block;

}