body{
	background-color:#FF9600;
}
.menu_card{
	width:95%;
	height:95%;
	background-color:#FFFFFF;
	border-radius:10px;
	color:#FF9600;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:14px;
	background-size:auto 60%;
	background-position:center;
	background-repeat:no-repeat;
}
.menu_content{
	width:100%;
	height:400px;
	max-width:900px;
}
.aquisicoes{
	background-image:url(media/howitwork.png);
}
.shop{
	background-image:url(media/shop.png);
	
}
.search{
	background-image:url(media/search.png);
}
.settings{
	background-image:url(media/settings.png);
}